
<nav> 
    <a class="dispolink1" routerLink="/listeforfait" routerLinkActive="active">liste Forfait</a>
    <a class="dispolink3" routerLink="/listeminiforfait" routerLinkActive="active">MiniForfait</a>
    <a class="dispolink4" routerLink="/aPropos" routerLinkActive="active">APropos</a>
    <a class="dispolink5" routerLink="/formulaireforfait" routerLinkActive="active">Administration</a>
    <a class="dispolink2" routerLink="/graphicdataglobale" routerLinkActive="active">Données Graphiques</a>
</nav>
