<div class="bg">
    <h1> A propos</h1><br>

    <p>Arriver a la fin d’un programme en développement web (front end), la réalisation d’un projet web en anguler nous a été propose dans le cadre d’un cours en programmation web avec le Framework Angular.
    Cette interface ci est la concrétisation de ce projet Angular dont ces caractéristiques vont être développées dans les paragraphes suivants.</p>

    <h1>Présentation de cette application.</h1><br>

    <h2>Cette application, créée en Angular, permet de faire des réservations de voyages. Elle est reliée à une base de données MySQL qui donne la possibilité d’une gestion de données des reservations 
        ou des informations relatives au besoin des utilisateurs ou des clients ; 
        comme par exemple, la liste des réservations, la suppression d’une réservation, la modification etc.</h2><br>

    <h1>Composition de l’application</h1>

    <ul>
        <li> -  Accueil : une page d’accueil qui sert l’entrée présentative du programme contenant l’affichage de certaines informations sur la reservation. </li>
        <li> -  Mini forfait : une page permettant d’afficher la liste des reservations partielle.</li>
        <li> -  Forfait Complet : une option permettant d’afficher une liste complète des reservations de forfait vedette selon la destination. </li>
        <li> -	A propos : c’est une section reversée pour fournir des informations générales sur la description de cette application, de ses fonctions, de son utilisation etc.</li>
        <li> -	Administration : c’est une des options importantes qui permet de faire la gestion de données, des réservations.</li>
    </ul>

    <h1> Mode d’utilisation </h1>

    <h2>Pour les spécialistes ou des programmeurs qui souhaitent utiliser cette application dans le cadre de leur recherche, il faut préalablement 
        installer et configurer sur son ordinateur les requis suivants:</h2>
        <ul>
            <li> -	Nodejs : installation de « nodejs » (la version la plus récente serait mieux)</li>
            <li> -	NPM : installation de « NPM »</li>
            <li> -	Angular material : installation de « Angular Matériel » </li>
            <li> -	AMPPs / WAMPPS : installation de Ampps ou wampps ou mampps pour l’utilisation de MYQLS et d'autres modules encore selon le besoin.</li>
        </ul><br>

    <h1>Suggestion</h1>>

    <h2>Pour continuer le développement de cette application et apporter des corrections, vous êtes la bienvenue dans vos critiques et vos supports pour
        l’avancement de la technologie du web.</h2>

    <h3>Whistler Clermont</h3>
</div>




