.flex-container{
  width: 16rem;
  height: 10rem;
  background-image: url(../imagedoc/image5.jpg);
  border-radius: 2rem;
  margin-left: 46rem; 
  padding-left: 2rem;
  padding-top: 1rem;
  margin-top: -11rem;
  color:yellow;
}

